<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.codepath.team10.charitychallenger"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--
  IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
  to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:name="org.codepath.team10.charitychallenger.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="org.codepath.team10.charitychallenger.permission.C2D_MESSAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".CharityChallengerApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.FacebookLoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="charitychallenger"
                    android:scheme="oauth" />
            </intent-filter>
        </activity>

        <!--
        <activity
            android:name=".activities.TwitterLoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="charitychallenger"
                    android:scheme="oauth" />
            </intent-filter>
        </activity>
        -->

        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".activities.NewPictureActivity"
            android:label="@string/title_activity_new_picture" >
        </activity>
        <activity
            android:name=".activities.PictureListActivity"
            android:label="@string/title_activity_picture_list" >
        </activity>
        <activity
            android:name=".activities.ChallengeDetailsActivity"
            android:label="@string/challenge_details_label" >
        </activity>
        <activity
            android:name=".activities.AllInvitationsActivity"
            android:label="@string/title_activity_all_invitations" >
        </activity>
        <activity
            android:name=".activities.InvitationDetails"
            android:label="@string/title_activity_invitation_details" >
        </activity>
        <activity
            android:name=".activities.AchievementActivity"
            android:label="@string/title_activity_achievement" >
        </activity>
        <activity
            android:name=".activities.DonateActivity"
            android:label="@string/donate_activity_title" >
        </activity>
        <activity
            android:name=".activities.PaymentConfirmationActivity"
            android:label="@string/payment_confirmation" >
        </activity>
        <activity
            android:name=".activities.InviteFriendsActivity"
            android:label="@string/title_activity_invite_friends" >
        </activity>
        <activity
            android:name=".activities.FunActivity"
            android:label="@string/title_activity_fun" >
        </activity>

        <meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@drawable/ic_launcher" />

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.ParsePushReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
                <action android:name="SEND_PUSH" />
            </intent-filter>
        </receiver>
        <!--
        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        -->
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
                <category android:name="org.codepath.team10.charitychallenger" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.AllInvitationsFragmentActivity"
            android:label="@string/title_activity_all_invitations_fragment" >
        </activity>
        <activity
            android:name=".activities.AllAcceptedActivity"
            android:label="@string/title_activity_all_accepted" >
        </activity>
        <activity
            android:name=".activities.InvitationAcceptedActivity"
            android:label="@string/title_activity_invitation_accepted" >
        </activity>
    </application>

</manifest>